// Sizes of various elements.
timer-status-height = 140px
player-dropdown-height = 80px
player-settings-height = player-dropdown-height * 2 + 4 * 5px + 2 * 10px
team-member-height = 160px

// Common component styles.
select.league
    box-sizing border-box
    -webkit-appearance none
    font-family "LoL Body"
    color #a09b8c
    font-size 35px
    height player-dropdown-height
    width 100%
    margin 5px
    padding 7px 15px
    border-width 2px
    border-style solid
    border-image linear-gradient(to top,#695625 0%,#a9852d 23%,#b88d35 93%,#c8aa6e 100%) 1
    background url(../../static/dropdown_arrows.png) no-repeat right rgb(30, 35, 40)
    background-size auto player-dropdown-height - 30px
    background-position right 10px center

.circular-button
    position relative
    box-sizing border-box
    display flex
    align-items center
    justify-content center
    width 90px
    height 90px
    margin 10px 20px 10px 10px
    border 5px solid transparent
    background-color #1e2328
    background-clip padding-box
    font-size 40px
    color #cebf93
    border-radius 50%

    &:after
        position absolute
        content ""
        left -5px
        top -5px
        bottom -5px
        right -5px
        border-radius 50%
        background linear-gradient(to top, #785b28 0%, #c89c3c 55%, #c8a355 71%, #c8aa6e 100%)
        z-index -1