// Prevent vertical scrolling.
body
    width 100%
    position fixed

// Prevent selecting text, unless in a field.
body:not(.in-input) *
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    -webkit-touch-callout none
    user-select none